{% extends 'admin/layout.html.twig' %}

{% block admin_content %}
<h1 class="text-2xl font-bold text-gray-800 mb-6">
    ➕ Nouvelle Salle
</h1>

<div class="bg-white p-6 rounded shadow-md">
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

            <div>
                {{ form_label(form.name, 'Nom de la salle') }}
                {{ form_widget(form.name, {'attr': {'class': 'w-full p-2 border border-gray-400 rounded'}}) }}
                {{ form_errors(form.name) }}
            </div>

            <div>
                {{ form_label(form.capacity, 'Capacité') }}
                {{ form_widget(form.capacity, {'attr': {'class': 'w-full p-2 border border-gray-400 rounded'}}) }}
                {{ form_errors(form.capacity) }}
            </div>

            <div class="md:col-span-2">
                {{ form_label(form.localisation, 'Localisation') }}
                {{ form_widget(form.localisation, {'attr': {'class': 'w-full p-2 border border-gray-400 rounded'}}) }}
                {{ form_errors(form.localisation) }}
            </div>

            <div class="md:col-span-2">
                {{ form_label(form.description, 'Description de la salle') }}
                {{ form_widget(form.description, {'attr': {'class': 'w-full p-2 border border-gray-400 rounded'}}) }}
                {{ form_errors(form.description) }}
            </div>


            <div class="md:col-span-2">
                {{ form_label(form.image, 'Image de la salle') }}
                {{ form_widget(form.image, {'attr': {'class': 'w-full p-2 border border-gray-400 rounded'}}) }}
                {{ form_errors(form.image) }}
            </div>

        </div>

        <button class="mt-6 px-6 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition">
            💾 Enregistrer
        </button>
    {{ form_end(form) }}
</div>
{% endblock %}
